main.aux
main.bbl
main.blg
main.fdb_latexmk
main.fls
main.log
main.out
supplementary.aux
supplementary.fdb_latexmk
supplementary.fls
supplementary.log
supplementary.out
tmp/
experiments/results/
experiments/__pycache__/
tests/__pycache__/

!main.pdf
!supplementary.pdf
!figures/*.pdf
